<ion-header>
  <ion-toolbar color="primary">
   <ion-title>{{ recipient.username }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let msg of messages">
      <ion-card [ngClass]="msg.sender == currentAddress ? 'sender' : ''">
        <ion-card-content> {{ msg.message }} </ion-card-content>
        <ion-card-subtitle
          [ngClass]="msg.sender !== currentAddress ? 'time-recipient' : ''"
          >{{ msg.time }}</ion-card-subtitle
        >
      </ion-card>
    </ion-item>
  </ion-list>

  <div class="compose">
    <ion-input placeholder="compose..." [(ngModel)]="message"></ion-input>
    <ion-icon color="primary" name="send" (click)="send()"></ion-icon>
  </div>
</ion-content>
