<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{ recipient }} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item *ngFor="let msg of messages">
      <ion-card [ngClass]="msg.sender.uniqueId === sender ? 'sender' : ''">
        <ion-card-content>
            {{ msg.message }}
          </ion-card-content>
        </ion-card>
    </ion-item>
  </ion-list>




<div class="compose">
  <ion-input placeholder="compose..."></ion-input>
  <ion-icon color="primary" name="send"></ion-icon>
</div>

</ion-content>
