<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{ recipient }} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item>
      <ion-card class="sender">
        <ion-card-content>
            yoyo
          </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="message">
        <ion-card-content>
          heyyyy what's up
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>


<div class="send">
  <ion-item>
    <ion-label position="floating">compose...</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button shape="round">
    <ion-icon name="send"></ion-icon>
  </ion-button>
</div>
</ion-content>
