<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Messages </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="new()">NEW</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Messages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-input
    [(ngModel)]="recipient"
    placeholder="enter new contact..."
  ></ion-input>
  <ion-input [(ngModel)]="initialMessage" placeholder="message..."></ion-input>
  <ion-list>
    <ion-item (click)="viewMessage(msg)" *ngFor="let msg of convos">
      <ion-label>
        <h2>
          {{ msg.recipient === currentAddress ? msg.sender : msg.recipient }}
        </h2>
        <p>{{ msg.lastMessage.message }}</p>
      </ion-label>
      <ion-label slot="end">
        <p>{{ msg.lastMessage.time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-toolbar color="primary">
    <ion-title> {{ currentAddress }} </ion-title>
  </ion-toolbar>
</ion-content>
