<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Messages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item (click)="viewMessage(msg)" *ngFor="let msg of convos">
      <ion-label>
        <h2>{{ msg.sender.uniqueId }}</h2>
        <p>{{ msg.lastMessage.message }}</p>
      </ion-label>
      <ion-label slot="end">
        <p>{{ msg.lastMessage.time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
