<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Messages </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body-header">
    <ion-input
      [(ngModel)]="recipient"
      placeholder="enter new contact..."
      color="primary"
    ></ion-input>
    <div class="new-message">
      <ion-input
        [(ngModel)]="initialMessage"
        placeholder="message..."
      ></ion-input>
      <ion-button size="small" (click)="new()">new</ion-button>
    </div>
    <ion-chip color="success">Recent</ion-chip>
  </div>
  <ion-list>
    <ion-item (click)="viewMessage(msg)" *ngFor="let msg of convos">
      <ion-icon
        color="primary"
        name="person-circle-outline"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>
          {{ msg.recipient.accountId === currentAddress ? msg.sender.username : msg.recipient.username }}
        </h2>
        <p>{{ msg.lastMessage.message }}</p>
      </ion-label>
      <ion-label slot="end">
        <p>{{ msg.lastMessage.time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
